.box {
    position: absolute;
    height: 100px;
    width: 100px;
    transition-property: all;
    transition-duration: 1s;
}

.box:hover {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#box {
    animation-name: temp;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    
}
@keyframes temp {
    0% {
        top: 150px;
        left: 150px;
        background-color: red;
        transform: rotate(90deg);
    }

    25% {
        top: 400px;
        left: 150px;
        background-color: blue;
        transform: rotate(180deg);
    }

    50% {
        top: 400px;
        left: 400px;
        background-color: green;
        transform: rotate(270deg);
    }

    75% {
        top: 150px;
        left: 400px;
        background-color: yellow;
        transform: rotate(360deg);
    }

    100% {
        top: 150px;
        left: 150px;
        background-color: red;
        transform: rotate(450deg);
    }
}